@font-face {
    font-family: 'th_charmonmanbold';
    src: url('../fonts/th_charmonman_bold_0-webfont.woff2') format('woff2'),
         url('../fonts/th_charmonman_bold_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'th_charmonmanregular';
    src: url('../fonts/th_charmonman-webfont.woff2') format('woff2'),
         url('../fonts/th_charmonman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'db_helvethaica_medcond';
    src: url('../fonts/db_helvethaica_x_med_cond_v3.2-webfont.woff2') format('woff2'),
         url('../fonts/db_helvethaica_x_med_cond_v3.2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'db_helvethaica_cond';
    src: url('../fonts/db_helvethaica_x_cond_v3.2-webfont.woff2') format('woff2'),
         url('../fonts/db_helvethaica_x_cond_v3.2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}