
#footer-social { height: 260px; background: url('../images/bg-footer.png') no-repeat center #031F37;  padding-top: 10px;
	h3 { font-family: 'th_charmonmanbold'; font-size: 48px; text-align: center; color: #69caf2; padding-top: 56px; }
}

#footer-border { height: 2px; width: 100%; background: url('../images/footer-border.jpg') top center; }
#footer { height: 93px; line-height: 93px; color:#3d6f92;
	p { margin: 0; }
	span { color:#fff; }
}