@import 'fonts';
@import 'reset';

.bg-content { 
	background: url('../images/bg-content.png') top center no-repeat; 
	padding-top: 41px; 
	position: relative; 
	z-index: 0; 
	/*transform: translateY(-104px);*/
	margin-top: -104px;
}

.embled-size { width: 730px; height: 411px; margin: auto; }
.flex-center { display: flex; flex-direction: column; justify-content: center; }

.ci-1 { font-size: 48px; color:#69caf2; font-family: 'th_charmonmanbold'; }
.title-border { @extend .ci-1;
	b, strong { font-weight: normal; color: #e9d176; }
	&:after { content: ''; display: block; height: 40px; background: url('../images/title-border.png') center top no-repeat; margin-top: 10px;  }
}

body { background: url('../images/bg-2.jpg') top center no-repeat #05112b; font-family: 'db_helvethaica_cond'; font-size: 24px; max-width: 1600px; margin: auto; }
body.bg-home { background: url('../images/bg-home.jpg') top center no-repeat #05112b; }

#header {
	.container { position: relative; }
	#register_header { position: absolute; top: 0; right: 20px; }
	#logo { display: block; height: 166px; width: 181px; margin: auto; background: url('../images/logo-2.png') center no-repeat; margin-top: 40px; position: relative; z-index: 100; }

	#mainmenu-wrapper { background: url('../images/menu.png') top center no-repeat; height: 125px; width: 919px; padding-top: 63px; margin: auto;  transform: translateY(-28px); position: relative; z-index: 1; }
	#mainmenu { height: 50px; width: 919px; position: relative; padding: 0; margin: 0; list-style: none; text-align: center;
		
		&:before, &:after { content: ''; position: absolute; display: inline-block; height: 63px; width: 43px; top: -7px; }
		&:before { background: url('../images/menu-left.png'); left: -20px; }
		&:after { background: url('../images/menu-right.png'); right: -20px; }

		li { display: inline-block; line-height: 50px; margin: 0 15px;
			a { color: #061128; text-decoration: none; } //font-family: 'db_helvethaica_cond';
		}
	}
}

#content { min-height: 600px; }

#footer-social { 
	height: 186px; background: url('../images/bg-footer.png') no-repeat center; padding-top: 33px;
	h3 { font-family: 'th_charmonmanbold'; font-size: 48px; text-align: center; color: #69caf2; padding-top: 56px; }
	ul {  list-style: none; padding-top: 55px;
		li { display: inline-block; margin-right: 60px; }
		&:last-child { margin-right: 0; }
		a { display: flex; flex-direction: row; text-decoration: none;
			span { display: flex; flex-direction: column; }
			.img { margin-right: 17px; }
			.caption { text-align: left; line-height: 0.9; justify-content: center;
				i { font-size: 24px; font-style: normal; color: #fff; }
				b { display: block; color:#60c1ed; font-size: 18px; font-weight: normal; }
			}
			&:hover { text-decoration: none; }
		}
	}
}

#footer-border { height: 2px; width: 100%; background: url('../images/footer-border.jpg') top center; }
#footer { color:#3d6f92; padding: 0 0 40px;
	p { margin: 0; font-size: 16px; }
	span { color:#fff; }

	.sponsor {
		padding: 50px 0 65px;
		ul { list-style: none; padding: 0; margin: 0; display: block; max-height: 50px; }
		li { display: inline-block; margin: 0 40px 0 0;
			&:last-child { margin-right: 0;  }
			a { display: block; max-height: 50px;
				img { display: block; }
			}
		}
	}
}

#page-home { margin-bottom: 47px;
	.section-a { /*padding-bottom: 30px;*/ height: 413px; padding: 30px 0 0;
		.style-1 { font-size: 30px; color:#69caf2; }
		.style-2 { @extend .ci-1; line-height: 1.05; margin: 20px 0; color: #e9d176; font-size: 48px;
			.style-2--2 { line-height: 0.7; display: block; font-size: 72px; }
		}
		.style-3, .style-4 { color:#69caf2; }
		.style-3 { font-size: 30px; }
		.style-4 { font-size: 24px; line-height: 0.9; }
	}

	.section-b { margin-top: -60px; min-height: 446px; background: url('../images/bg-content.png') no-repeat top center; padding-top: 103px; position: relative;
		h3 { text-align: center; padding:20px 0 0;  @extend .ci-1;  }
		.caption { font-size: 24px; color: #fff;
			b { display: block; font-size: 36px; color: #e9d176; font-weight: normal; }
		}
	}

	.section-c { height: 523px; background: url('../images/sax.png') top center no-repeat; @extend .flex-center; font-size: 24px; color:#fff; line-height: 1;
		b { font-size: 30px; font-weight: normal; color: #69caf2; }
		.btn-join { width: 273px; height: 99px; display: block; background: url('../images/join-btn.jpg') no-repeat; line-height: 50px; color: #000; margin-top: 50px;
			&:hover { text-decoration: none; }
		}
	}

	.section-d {
		padding-top: 60px;
		h1:after { margin-top:30px; }

		.event-wrapper { max-width: 919px; margin: auto; position: relative; margin-top: 50px;
			.row { display: flex; }
			.col-lg-6 { display: flex; flex-direction: column; justify-content: center; font-size: 24px; color: #fff; line-height: 1; }
			.event-title { font-size: 36px; color: #e9d176; line-height: 1; display: block; margin-bottom: 20px; }
			.slick-arrow { height: 47px; width: 47px; border-radius: 50%; border: none; color: rgba(0,0,0,0); outline: none; position: absolute; top: 0; bottom: 0; margin: auto; }
			.slick-prev { left:-97px; background: url('../images/prev.png'); }
			.slick-next { background: url('../images/next.png'); right: -97px; }
		}
	}
}

#page-artist { margin-bottom: 47px;
	h1 { height: 272px; @extend .flex-center; }
	.artist-wrapper { width: 905px; margin: auto;
		ul { display: block; list-style: none; padding: 0; margin: 0;
			li { display: block; float: left; margin: 0 1px 1px 0;
				&:nth-of-type(6n) { margin-right: 0; }

				a { display: block; position: relative;
					img {   }
					&:after { content: attr(title); display: flex; flex-direction: column; justify-content: center; line-height: 0.9; width: 100%; height: 100%; background: url('../images/artist/hover.png') center no-repeat; position: absolute; top: 0; left: 0; font-size: 22px; color: #fff; padding: 5px; opacity: 0; }
					&:hover:after { opacity: 1; };
				}
			}

		}
	}
}

#page-location { margin-bottom: 47px;
	h1 { height: 272px; @extend .flex-center; }

	.location {
		margin-top: -40px;
		.line-1 { font-size: 48px; color: #e9d176; line-height: 1; }
		.line-2  { font-size: 24px; color: #fff; }
		.line-3 { font-size: 36px; color: #fff; line-height: 0.9; margin: 30px 0 80px; }	
	}
	#map { height:380px; max-width: 920px; margin: auto; }
}

#page-world-record { margin-bottom: 47px;
	h1 { height: 299px; padding-top: 67px; }

	.youtube {
		margin-bottom: 70px;
		.embled { @extend .embled-size; margin-bottom: 20px; }
		.youtube-list { max-width: 574px; margin: auto; height: 104px;
			.slick-arrow { height: 47px; width: 47px; border-radius: 50%; border: none; color: rgba(0,0,0,0); outline: none; position: absolute; top: 0; bottom: 0; margin: auto; }
			.slick-prev { left:-75px; background: url('../images/prev.png'); }
			.slick-next { background: url('../images/next.png'); right: -75px; }
			.item { width: 184px; height: 104px; background-repeat: no-repeat; background-position: cover; margin-right: 5px; position: relative; cursor: pointer; outline: none;
				&:after {  content: ''; display: block; position: absolute; top: 0; right: 0; margin: auto; bottom: 0; left: 0; height: 29px; width: 29px; background: url('../images/play.png'); }
			}
		}
	}

	.ensemble {
		min-height: 991px;background: url('../images/assembly/2.jpg') top center no-repeat; padding: 105px 0 0;
		h2 {
			font-family: 'th_charmonmanbold'; font-size: 48px;
		}

		.form-wrapper {

			input, textarea {
				&.error { border-color: red !important; }
			}

			max-width: 1109px; color: #fff; margin: 40px auto 0;
			b { display: block; font-size: 36px; margin-bottom: 35px; color: #e9d176; }
			input[type=text], textarea { width: 100%; height: 50px; background: none; border: solid 1px #fff; margin-bottom: 15px; padding-left: 20px; }
			textarea { height: 110px; margin-bottom: 5px; }
			.input-cols {
				input { width: calc(50% - 7.5px); float: left; margin-right: 15px;
					&:nth-of-type(2) {  margin-right: 0; }
				}
			}

			.radio-wrapper { position: relative;
				span { display: inline; float: left; height: 55px; line-height: 55px; margin-right: 35px; }
				.radio { visibility: hidden; position: absolute; top: 0; left: 0; }
				.radio:checked + i { color: #000; background: #e9d176; border-color: #e9d176; }
				i { display: block; float: left; height: 55px; width: 55px; border-radius: 50%; border: solid 1px #fff; line-height: 55px; text-align: center; margin-right: 15px; font-style: normal; font-weight: normal; cursor: pointer; }
				.radio.error + i { border-color: red; }				
			}

			.row { margin: 0 -30px;
				.col-lg-6 {
					padding: 0 30px;
					&:first-child { border-right: solid 1px #e9d176; }
				}
			}

			.form-button {margin-top: 50px;
				[type=submit] { width: 255px; height: 50px; background: url('../images/btn.jpg') center no-repeat; border: none; color: #000; }
			}
		}
	}

	.howtoplay {
		padding-top: 70px;
		h2 { margin-bottom: 35px; }
		.embled { @extend .embled-size; }
		.open {
			ul { display: block; list-style: none; padding: 0; margin: 40px 0 0; text-align: center;
				li { display: inline-block;
					/*&:first-child:after { content: 'l'; color: #fff; padding: 0 30px; }*/
					a { color: #fff; 
						img { margin-right: 15px; }
						&:hover { text-decoration: none; }
					}
				}
			}
		}
	}
}

#page-memorial { margin-bottom: 47px;
	h1 { height: 272px; @extend .flex-center; }

	.event-wrapper { max-width: 920px; margin: auto; margin-top: -40px;
		.row { display: flex; flex-direction: row; margin-bottom: 30px;
			&:last-child {  margin-bottom: 0; }
		}
		.col-lg-6 { display: flex; flex-direction: column; justify-content: center; font-size: 24px; color: #fff; line-height: 1; }
		.event-title { font-size: 36px; color: #e9d176; line-height: 1; display: block; margin-bottom: 20px; }
	}
}


#page-thankyou	{ background: #efdb91;
	h1, h2 { font-family: 'th_charmonmanregular'; text-align:  center; }
	h1 { font-size: 72px; padding: 30px 0 10px; border-bottom: solid 1px #030c22; }
	h2 { font-size: 36px; padding: 20px; }

	// .table-wrapper { padding-bottom: 30px;  border-bottom: solid 1px #030c22;  }
	table { margin: auto;
		b { font-size: 30px; margin-bottom: 25px; display: block; }
		td { font-size: 30px; }
		th { font-weight: normal; font-size: 20px; }
	}
	.regiscode { background: #fff; padding: 10px; font-weight: bold; }
}


#cboxClose { 
	background: rgba(0, 0, 0, 0) url("../images/close-2.png") no-repeat scroll center center !important;
    display: block;
    height: 49px;
    position: absolute;
    right: 25px;
    top: 25px;
    width: 49px;
}

#cboxContent { background: #efdb91; }
#cboxOverlay, #cboxMiddleLeft, #cboxMiddleRight, #cboxTopLeft, #cboxTopRight, #cboxTopCenter, #cboxBottomLeft, #cboxBottomRight, #cboxBottomCenter { opacity: 0 !important; }

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {

	#page-world-record .ensemble { background: none; }
	#page-world-record .ensemble .form-wrapper .row .col-lg-6:first-child {
		border: none;
	}
}

	