@font-face {
  font-family: 'th_charmonmanbold';
  src: url("../fonts/th_charmonman_bold_0-webfont.woff2") format("woff2"), url("../fonts/th_charmonman_bold_0-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'th_charmonmanregular';
  src: url("../fonts/th_charmonman-webfont.woff2") format("woff2"), url("../fonts/th_charmonman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'db_helvethaica_medcond';
  src: url("../fonts/db_helvethaica_x_med_cond_v3.2-webfont.woff2") format("woff2"), url("../fonts/db_helvethaica_x_med_cond_v3.2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'db_helvethaica_cond';
  src: url("../fonts/db_helvethaica_x_cond_v3.2-webfont.woff2") format("woff2"), url("../fonts/db_helvethaica_x_cond_v3.2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.bg-content {
  background: url("../images/bg-content.png") top center no-repeat;
  padding-top: 41px;
  position: relative;
  z-index: 0;
  /*transform: translateY(-104px);*/
  margin-top: -104px; }

.embled-size, #page-world-record .youtube .embled, #page-world-record .howtoplay .embled {
  width: 730px;
  height: 411px;
  margin: auto; }

.flex-center, #page-home .section-c, #page-artist h1, #page-location h1, #page-memorial h1 {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.ci-1, .title-border, #page-home .section-a .style-2, #page-home .section-b h3 {
  font-size: 48px;
  color: #69caf2;
  font-family: 'th_charmonmanbold'; }

.title-border b, .title-border strong {
  font-weight: normal;
  color: #e9d176; }

.title-border:after {
  content: '';
  display: block;
  height: 40px;
  background: url("../images/title-border.png") center top no-repeat;
  margin-top: 10px; }

body {
  background: url("../images/bg-2.jpg") top center no-repeat #05112b;
  font-family: 'db_helvethaica_cond';
  font-size: 24px;
  max-width: 1600px;
  margin: auto; }

body.bg-home {
  background: url("../images/bg-home.jpg") top center no-repeat #05112b; }

#header .container {
  position: relative; }

#header #register_header {
  position: absolute;
  top: 0;
  right: 20px; }

#header #logo {
  display: block;
  height: 166px;
  width: 181px;
  margin: auto;
  background: url("../images/logo-2.png") center no-repeat;
  margin-top: 40px;
  position: relative;
  z-index: 100; }

#header #mainmenu-wrapper {
  background: url("../images/menu.png") top center no-repeat;
  height: 125px;
  width: 919px;
  padding-top: 63px;
  margin: auto;
  transform: translateY(-28px);
  position: relative;
  z-index: 1; }

#header #mainmenu {
  height: 50px;
  width: 919px;
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }
  #header #mainmenu:before, #header #mainmenu:after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 63px;
    width: 43px;
    top: -7px; }
  #header #mainmenu:before {
    background: url("../images/menu-left.png");
    left: -20px; }
  #header #mainmenu:after {
    background: url("../images/menu-right.png");
    right: -20px; }
  #header #mainmenu li {
    display: inline-block;
    line-height: 50px;
    margin: 0 15px; }
    #header #mainmenu li a {
      color: #061128;
      text-decoration: none; }

#content {
  min-height: 600px; }

#footer-social {
  height: 186px;
  background: url("../images/bg-footer.png") no-repeat center;
  padding-top: 33px; }
  #footer-social h3 {
    font-family: 'th_charmonmanbold';
    font-size: 48px;
    text-align: center;
    color: #69caf2;
    padding-top: 56px; }
  #footer-social ul {
    list-style: none;
    padding-top: 55px; }
    #footer-social ul li {
      display: inline-block;
      margin-right: 60px; }
    #footer-social ul:last-child {
      margin-right: 0; }
    #footer-social ul a {
      display: flex;
      flex-direction: row;
      text-decoration: none; }
      #footer-social ul a span {
        display: flex;
        flex-direction: column; }
      #footer-social ul a .img {
        margin-right: 17px; }
      #footer-social ul a .caption {
        text-align: left;
        line-height: 0.9;
        justify-content: center; }
        #footer-social ul a .caption i {
          font-size: 24px;
          font-style: normal;
          color: #fff; }
        #footer-social ul a .caption b {
          display: block;
          color: #60c1ed;
          font-size: 18px;
          font-weight: normal; }
      #footer-social ul a:hover {
        text-decoration: none; }

#footer-border {
  height: 2px;
  width: 100%;
  background: url("../images/footer-border.jpg") top center; }

#footer {
  color: #3d6f92;
  padding: 0 0 40px; }
  #footer p {
    margin: 0;
    font-size: 16px; }
  #footer span {
    color: #fff; }
  #footer .sponsor {
    padding: 50px 0 65px; }
    #footer .sponsor ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: block;
      max-height: 50px; }
    #footer .sponsor li {
      display: inline-block;
      margin: 0 40px 0 0; }
      #footer .sponsor li:last-child {
        margin-right: 0; }
      #footer .sponsor li a {
        display: block;
        max-height: 50px; }
        #footer .sponsor li a img {
          display: block; }

#page-home {
  margin-bottom: 47px; }
  #page-home .section-a {
    /*padding-bottom: 30px;*/
    height: 413px;
    padding: 30px 0 0; }
    #page-home .section-a .style-1 {
      font-size: 30px;
      color: #69caf2; }
    #page-home .section-a .style-2 {
      line-height: 1.05;
      margin: 20px 0;
      color: #e9d176;
      font-size: 48px; }
      #page-home .section-a .style-2 .style-2--2 {
        line-height: 0.7;
        display: block;
        font-size: 72px; }
    #page-home .section-a .style-3, #page-home .section-a .style-4 {
      color: #69caf2; }
    #page-home .section-a .style-3 {
      font-size: 30px; }
    #page-home .section-a .style-4 {
      font-size: 24px;
      line-height: 0.9; }
  #page-home .section-b {
    margin-top: -60px;
    min-height: 446px;
    background: url("../images/bg-content.png") no-repeat top center;
    padding-top: 103px;
    position: relative; }
    #page-home .section-b h3 {
      text-align: center;
      padding: 20px 0 0; }
    #page-home .section-b .caption {
      font-size: 24px;
      color: #fff; }
      #page-home .section-b .caption b {
        display: block;
        font-size: 36px;
        color: #e9d176;
        font-weight: normal; }
  #page-home .section-c {
    height: 523px;
    background: url("../images/sax.png") top center no-repeat;
    font-size: 24px;
    color: #fff;
    line-height: 1; }
    #page-home .section-c b {
      font-size: 30px;
      font-weight: normal;
      color: #69caf2; }
    #page-home .section-c .btn-join {
      width: 273px;
      height: 99px;
      display: block;
      background: url("../images/join-btn.jpg") no-repeat;
      line-height: 50px;
      color: #000;
      margin-top: 50px; }
      #page-home .section-c .btn-join:hover {
        text-decoration: none; }
  #page-home .section-d {
    padding-top: 60px; }
    #page-home .section-d h1:after {
      margin-top: 30px; }
    #page-home .section-d .event-wrapper {
      max-width: 919px;
      margin: auto;
      position: relative;
      margin-top: 50px; }
      #page-home .section-d .event-wrapper .row {
        display: flex; }
      #page-home .section-d .event-wrapper .col-lg-6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 24px;
        color: #fff;
        line-height: 1; }
      #page-home .section-d .event-wrapper .event-title {
        font-size: 36px;
        color: #e9d176;
        line-height: 1;
        display: block;
        margin-bottom: 20px; }
      #page-home .section-d .event-wrapper .slick-arrow {
        height: 47px;
        width: 47px;
        border-radius: 50%;
        border: none;
        color: transparent;
        outline: none;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto; }
      #page-home .section-d .event-wrapper .slick-prev {
        left: -97px;
        background: url("../images/prev.png"); }
      #page-home .section-d .event-wrapper .slick-next {
        background: url("../images/next.png");
        right: -97px; }

#page-artist {
  margin-bottom: 47px; }
  #page-artist h1 {
    height: 272px; }
  #page-artist .artist-wrapper {
    width: 905px;
    margin: auto; }
    #page-artist .artist-wrapper ul {
      display: block;
      list-style: none;
      padding: 0;
      margin: 0; }
      #page-artist .artist-wrapper ul li {
        display: block;
        float: left;
        margin: 0 1px 1px 0; }
        #page-artist .artist-wrapper ul li:nth-of-type(6n) {
          margin-right: 0; }
        #page-artist .artist-wrapper ul li a {
          display: block;
          position: relative; }
          #page-artist .artist-wrapper ul li a:after {
            content: attr(title);
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 0.9;
            width: 100%;
            height: 100%;
            background: url("../images/artist/hover.png") center no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 22px;
            color: #fff;
            padding: 5px;
            opacity: 0; }
          #page-artist .artist-wrapper ul li a:hover:after {
            opacity: 1; }

#page-location {
  margin-bottom: 47px; }
  #page-location h1 {
    height: 272px; }
  #page-location .location {
    margin-top: -40px; }
    #page-location .location .line-1 {
      font-size: 48px;
      color: #e9d176;
      line-height: 1; }
    #page-location .location .line-2 {
      font-size: 24px;
      color: #fff; }
    #page-location .location .line-3 {
      font-size: 36px;
      color: #fff;
      line-height: 0.9;
      margin: 30px 0 80px; }
  #page-location #map {
    height: 380px;
    max-width: 920px;
    margin: auto; }

#page-world-record {
  margin-bottom: 47px; }
  #page-world-record h1 {
    height: 299px;
    padding-top: 67px; }
  #page-world-record .youtube {
    margin-bottom: 70px; }
    #page-world-record .youtube .embled {
      margin-bottom: 20px; }
    #page-world-record .youtube .youtube-list {
      max-width: 574px;
      margin: auto;
      height: 104px; }
      #page-world-record .youtube .youtube-list .slick-arrow {
        height: 47px;
        width: 47px;
        border-radius: 50%;
        border: none;
        color: transparent;
        outline: none;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto; }
      #page-world-record .youtube .youtube-list .slick-prev {
        left: -75px;
        background: url("../images/prev.png"); }
      #page-world-record .youtube .youtube-list .slick-next {
        background: url("../images/next.png");
        right: -75px; }
      #page-world-record .youtube .youtube-list .item {
        width: 184px;
        height: 104px;
        background-repeat: no-repeat;
        background-position: cover;
        margin-right: 5px;
        position: relative;
        cursor: pointer;
        outline: none; }
        #page-world-record .youtube .youtube-list .item:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          margin: auto;
          bottom: 0;
          left: 0;
          height: 29px;
          width: 29px;
          background: url("../images/play.png"); }
  #page-world-record .ensemble {
    min-height: 991px;
    background: url("../images/assembly/2.jpg") top center no-repeat;
    padding: 105px 0 0; }
    #page-world-record .ensemble h2 {
      font-family: 'th_charmonmanbold';
      font-size: 48px; }
    #page-world-record .ensemble .form-wrapper {
      max-width: 1109px;
      color: #fff;
      margin: 40px auto 0; }
      #page-world-record .ensemble .form-wrapper input.error, #page-world-record .ensemble .form-wrapper textarea.error {
        border-color: red !important; }
      #page-world-record .ensemble .form-wrapper b {
        display: block;
        font-size: 36px;
        margin-bottom: 35px;
        color: #e9d176; }
      #page-world-record .ensemble .form-wrapper input[type=text], #page-world-record .ensemble .form-wrapper textarea {
        width: 100%;
        height: 50px;
        background: none;
        border: solid 1px #fff;
        margin-bottom: 15px;
        padding-left: 20px; }
      #page-world-record .ensemble .form-wrapper textarea {
        height: 110px;
        margin-bottom: 5px; }
      #page-world-record .ensemble .form-wrapper .input-cols input {
        width: calc(50% - 7.5px);
        float: left;
        margin-right: 15px; }
        #page-world-record .ensemble .form-wrapper .input-cols input:nth-of-type(2) {
          margin-right: 0; }
      #page-world-record .ensemble .form-wrapper .radio-wrapper {
        position: relative; }
        #page-world-record .ensemble .form-wrapper .radio-wrapper span {
          display: inline;
          float: left;
          height: 55px;
          line-height: 55px;
          margin-right: 35px; }
        #page-world-record .ensemble .form-wrapper .radio-wrapper .radio {
          visibility: hidden;
          position: absolute;
          top: 0;
          left: 0; }
        #page-world-record .ensemble .form-wrapper .radio-wrapper .radio:checked + i {
          color: #000;
          background: #e9d176;
          border-color: #e9d176; }
        #page-world-record .ensemble .form-wrapper .radio-wrapper i {
          display: block;
          float: left;
          height: 55px;
          width: 55px;
          border-radius: 50%;
          border: solid 1px #fff;
          line-height: 55px;
          text-align: center;
          margin-right: 15px;
          font-style: normal;
          font-weight: normal;
          cursor: pointer; }
        #page-world-record .ensemble .form-wrapper .radio-wrapper .radio.error + i {
          border-color: red; }
      #page-world-record .ensemble .form-wrapper .row {
        margin: 0 -30px; }
        #page-world-record .ensemble .form-wrapper .row .col-lg-6 {
          padding: 0 30px; }
          #page-world-record .ensemble .form-wrapper .row .col-lg-6:first-child {
            border-right: solid 1px #e9d176; }
      #page-world-record .ensemble .form-wrapper .form-button {
        margin-top: 50px; }
        #page-world-record .ensemble .form-wrapper .form-button [type=submit] {
          width: 255px;
          height: 50px;
          background: url("../images/btn.jpg") center no-repeat;
          border: none;
          color: #000; }
  #page-world-record .howtoplay {
    padding-top: 70px; }
    #page-world-record .howtoplay h2 {
      margin-bottom: 35px; }
    #page-world-record .howtoplay .open ul {
      display: block;
      list-style: none;
      padding: 0;
      margin: 40px 0 0;
      text-align: center; }
      #page-world-record .howtoplay .open ul li {
        display: inline-block;
        /*&:first-child:after { content: 'l'; color: #fff; padding: 0 30px; }*/ }
        #page-world-record .howtoplay .open ul li a {
          color: #fff; }
          #page-world-record .howtoplay .open ul li a img {
            margin-right: 15px; }
          #page-world-record .howtoplay .open ul li a:hover {
            text-decoration: none; }

#page-memorial {
  margin-bottom: 47px; }
  #page-memorial h1 {
    height: 272px; }
  #page-memorial .event-wrapper {
    max-width: 920px;
    margin: auto;
    margin-top: -40px; }
    #page-memorial .event-wrapper .row {
      display: flex;
      flex-direction: row;
      margin-bottom: 30px; }
      #page-memorial .event-wrapper .row:last-child {
        margin-bottom: 0; }
    #page-memorial .event-wrapper .col-lg-6 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 24px;
      color: #fff;
      line-height: 1; }
    #page-memorial .event-wrapper .event-title {
      font-size: 36px;
      color: #e9d176;
      line-height: 1;
      display: block;
      margin-bottom: 20px; }

#page-thankyou {
  background: #efdb91; }
  #page-thankyou h1, #page-thankyou h2 {
    font-family: 'th_charmonmanregular';
    text-align: center; }
  #page-thankyou h1 {
    font-size: 72px;
    padding: 30px 0 10px;
    border-bottom: solid 1px #030c22; }
  #page-thankyou h2 {
    font-size: 36px;
    padding: 20px; }
  #page-thankyou table {
    margin: auto; }
    #page-thankyou table b {
      font-size: 30px;
      margin-bottom: 25px;
      display: block; }
    #page-thankyou table td {
      font-size: 30px; }
    #page-thankyou table th {
      font-weight: normal;
      font-size: 20px; }
  #page-thankyou .regiscode {
    background: #fff;
    padding: 10px;
    font-weight: bold; }

#cboxClose {
  background: transparent url("../images/close-2.png") no-repeat scroll center center !important;
  display: block;
  height: 49px;
  position: absolute;
  right: 25px;
  top: 25px;
  width: 49px; }

#cboxContent {
  background: #efdb91; }

#cboxOverlay, #cboxMiddleLeft, #cboxMiddleRight, #cboxTopLeft, #cboxTopRight, #cboxTopCenter, #cboxBottomLeft, #cboxBottomRight, #cboxBottomCenter {
  opacity: 0 !important; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
  #page-world-record .ensemble {
    background: none; }
  #page-world-record .ensemble .form-wrapper .row .col-lg-6:first-child {
    border: none; } }
